.total-page{
  .create-job{
    height: 30px;
    width: 15%;
    border-radius: 8px;
    background: lime;
    border: 1px solid darkgrey;
    cursor: pointer;
  }
  .title{
    color: darkcyan;
    font-size: 35px;
    font-weight: bold;
  }
  .job-table{

  }
}